h1 {
    margin: auto;
    width: 600px;
    text-align: center;
  }
  
  form {
    margin: 50px auto;
    width: 400px;
    border-radius: 10%;
    display: grid;
    grid-template-rows: auto;
    height: 70vh;
    gap: 5px;
    padding: 25px;
    border: 1px solid black;
  }
  
  div {
    display: grid;
    grid-template-columns:  1fr;
  }

